<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Build-A-Cocktail</title>
  <link rel="icon" type="image/x-icon" href="images/cocktail-favicon.jpg">
  <!-- Compressed CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">

</head>

<body>
  <header>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="title-text">🍸The Best Men🍸</li>

          <a href="/">Home</a>
          {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
          <li><a href="/profile">Profile</a></li>

          {{else}}
          <a href="/login">Login</a>
          {{/if}}
          <li><a href="/classics">Classics</a></li>

        </ul>
      </div>
      <div class="top-bar-right">
        <form method="GET" action="/search">
          <ul class="menu">
            <li><input name="search" id="liquor-search" placeholder="Search for a Cocktail..." style="min-height: 38.78px"></li>
            <li><button id="search-button" class="button">Search</button></li>
          </ul>
        </form>
      </div>
    </div>
  </header>

  <main>


    <div class="gallery">
      {{{body}}}
    </div>
  </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

<script src="./js/search.js"></script>

</html>