<img src="/images/classics-script.png" alt="">

<div class="grid-container small-4 medium-8">
  <div class="grid-x grid-margin-x small-up-3 medium-up-4" style="margin: auto; display: flex" >



    {{!-- Bloody Mary --}}
    <a href='/search?search=bloody%20mary'>
    <div class="cell" style="max-width: 292.5px; max-height: 275px; margin:auto">
      <div class="card">
    
          <div class="image-wrapper overlay-fade-in">
            <img src="/images/Bloody Mary.jpg" />
            <div class="image-overlay-content">
              <h2>Blood Mary</h2>
              <p>Vodka</p>
              <p>Tomato Juice </p>
              <p>Tabasco Sauce </P>
              <p>Worcestershire Sauce</p>
            </div>
    
      </div>
    </div>
  </div>
</a>

  {{!-- Cosmopolitan --}}
  <a href='/search?search=cosmopolitan'>
   <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Cosmopolitan.jpg" />
        <div class="image-overlay-content">
          <h2>Cosmopolitan</h2>
          <p>Vodka </p>
          <p>Cointreau </p>
          <p>Lime Juice </P>
          <p>Cranberry Juice</p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Daiquiri --}}


  <a href='/search?search=daiquiri'>
   <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Daiquiri.jpg" />
        <div class="image-overlay-content">
          <h2>Daiquiri</h2>
          <p>Rum </p>
          <p>Lime Juice </p>
          <p>Simple Syrup </P>
          <p>Garnish: Lime Twist</p>

        </div>
      </div>
    </div>
  </div>
</a>


  {{!-- Dark and Stormy --}}
    <a href='/search?search=dark%20and%20stormy'>
   <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Dark and Stormy.jpg" />
        <div class="image-overlay-content">
          <h2>Dark and Stormy</h2>
          <p>Gosling's Black Seal Rum</p>
          <p>Lime Juice </p>
          <p>Ginger Beer </P>

        </div>
      </div>
    </div>
  </div>
</a>


  {{!-- French 75 --}}
    <a href='/search?search=french%2075'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px;">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/French 75.jpg" />
        <div class="image-overlay-content">
          <h2>French 75</h2>
          <p>Gin </p>
          <p>Lemon Juice </p>
          <p>Champagne </P>
          <p>Garnish: Lemon Twist</p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Gimlet --}}


    <a href='/search?search=gimlet'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px;">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Gimlet.jpg" />
        <div class="image-overlay-content">
          <h2>Gimlet</h2>
          <p>Gin </p>
          <p>Lime Juice </p>
          <p>Simple Syrup </P>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Manhattan --}}
    <a href='/search?search=manhattan'>
 <div class="cell" style="max-width: 292.5px; max-height: 275px;">
        <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Manhattan.jpg" />
        <div class="image-overlay-content">
          <h2>Manhattan</h2>
          <p>Rye Whiskey </p>
          <p>Sweet Vermouth </p>
          <p>Bitters </P>
          <p> Garnish: Cherry</p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Margartia --}}
    <a href='/search?search=margarita'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px;">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Margarita.jpg" />
        <div class="image-overlay-content">
          <h2>Margarita</h2>
          <p>Tequila </p>
          <p>Lime Juice </p>
          <p>Orange Liqueur </P>
          <p>Simple Syrup</p>
          <p>Garnish: Lime Wheel</p>

        </div>
      </div>
    </div>
  </div>
</a>

  {{!--Martinez --}}
    <a href='/search?search=martinez%20cocktail'>
 <div class="cell" style="max-width: 292.5px; max-height: 275px;">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Martinez.jpg" />
        <div class="image-overlay-content">
          <h2>Martinez</h2>
          <p>Gin </p>
          <p>Sweet Vermouth </p>
          <p>Bitters </P>
          <p>Lexardo Maraschino Liqueur</p>
          <p>Garnish: Orange Twist</p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Martini --}}
    <a href='/search?search=martini'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px;">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/martini.jpg" />
        <div class="image-overlay-content">
          <h2>Martini</h2>
          <p> Vodka</p>
          <p> Vermouth </p>
          <p> Garnish: Olives </P>
        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Mimosa --}}
    <a href='/search?search=mimosa'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px;">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/mimosa.jpg" />
        <div class="image-overlay-content">
          <h2>Mimosa</h2>
          <p> Champagne</p>
          <p> Orange Juice </p>
          <p> Garnish: Strawberry </P>

        </div>
      </div>
    </div>
  </div>
</a>


  {{!-- Mint Julep --}}
    <a href='/search?search=mint%20julep'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px;">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Mint Julep.jpg" />
        <div class="image-overlay-content">
          <h2>Mint Julep</h2>
          <p> Mint Leaves </p>
          <p>Bourbon </p>
          <p>Simple Syrup </P>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Mojito --}}
    <a href='/search?search=mojito'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px;">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/mojito.jpg" />
        <div class="image-overlay-content">
          <h2>Mojito</h2>
          <p> Rum</p>
          <p> Club Soda </p>
          <p> Simple Syrup </P>
          <p> Lime </P>
          <p> Mint </P>
        </div>
      </div>
    </div>
  </div>
</a>

  {{!-- Moscow Mule --}}
    <a href='/search?search=moscow%20mule'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px;">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/mule.jpg" />
        <div class="image-overlay-content">
          <h2>Moscow Mule</h2>
          <p> Vodka</p>
          <p> Lime Juice </p>
          <p> Ginger Beer </P>
          <p> Garnish: Mint, Lime </P>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Negroni --}}
    <a href='/search?search=negroni'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px"> 
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Negroni.jpg" />
        <div class="image-overlay-content">
          <h2>Negroni</h2>
          <p>Gin </p>
          <p>Campari </p>
          <p>Sweet Vermouth </P>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Old Fashioned --}}
    <a href='/search?search=old%20fashioned'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/old-fashioned.jpg" />
        <div class="image-overlay-content">
          <h2>Old fashioned</h2>
          <p> Whiskey (Rye if preferred)</p>
          <p> Bitters </p>
          <p> Simple Syrup </P>
          <p> Garnish: Orange Twist </P>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Paloma --}}
    <a href='/search?search=paloma'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Paloma.jpg" />
        <div class="image-overlay-content">
          <h2>Paloma</h2>
          <p>Tequila </p>
          <p>Lime Juice </p>
          <p>Grapefruit Soda</P>
          <p>Garnish: Lime Wheel</p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- White Russian--}}
    <a href='/search?search=White%20Russian'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/white-russian.png" />
        <div class="image-overlay-content">
          <h2>White Russian</h2>
          <p>Vodka</p>
          <p>Coffee Liqueur</p>
          <p>Creame </P>
        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Sazerac --}}
    <a href='/search?search=sazerac'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Sazerac.jpg" />
        <div class="image-overlay-content">
          <h2>Sazerac</h2>
          <p> Rye Whiskey </p>
          <p> Cognac </p>
          <p> Bitters </P>
          <p> Water</p>
          <p> Garnish: Lemon Wheel</p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Sidecar --}}
    <a href='/search?search=sidecar'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Sidecar.jpg" />
        <div class="image-overlay-content">
          <h2>Sidecar</h2>
          <p> Cognac </p>
          <p> Orange Liqueur </p>
          <p> Lemon Juice </P>
          <p>Garnish: Orange Twist </p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Scarlet Spiritz --}}
    <a href='/search?search=scarlet%20spritz'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Scarlet spritz.jpg" />
        <div class="image-overlay-content">
          <h2>Scarlet Spiritz</h2>
          <p>Strawberry Aperol </p>
          <p>Bitters </p>
          <p>Sparkling Wine </P>
          <p>Garnish: Lemon Twist </p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!--Tom Collins --}}
    <a href='/search?search=tom%20collins'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Tom Collins.jpg" />
        <div class="image-overlay-content">
          <h2>Tom Collins</h2>
          <p> Gin </p>
          <p> Lemon Juice </p>
          <p> Simple Syrup </P>
          <p> Club Soda</p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Vesper --}}
  <a href='/search?search=vesper'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/Vesper.jpg" />
        <div class="image-overlay-content">
          <h2>Vesper</h2>
          <p> Gin </p>
          <p> Vodka</p>
          <p> Lillet Blanc Aperitif </P>
          <p> Garnish: Lemon Twist</p>

        </div>
      </div>
    </div>
  </div>
</a>
  {{!-- Whiskey Sour --}}
  <a href='/search?search=Whiskey%20Sour'>
  <div class="cell" style="max-width: 292.5px; max-height: 275px">
    <div class="card">
      <div class="image-wrapper overlay-fade-in">
        <img src="/images/whiskey-sour.jpg" />
        <div class="image-overlay-content">
          <h2>Whiskey Sour</h2>

          <p> Whiskey</p>
          <p> Lemon Juice </p>
          <p> simple syrup </P>

        </div>
      </div>
    </div>
  </div>
</a>

</div>
</div>