
<div class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
            <div class="card">
                <img src="/images/old-fashioned.jpg">
                <div class="card-section">
                    <p>Placeholder</p>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class = "oval">
                    <img src="/images/old-fashioned.jpg">
                 <div class="card-section">
                    <p> placeholder </p>
                 </div>
                </div>
            </div>
        </div>

        <div class="cell">
            <div class="card">
                <img src="/images/old-fashioned.jpg">
                <div class="card-section">
                    <p>Placeholder</p>
                </div>
            </div>
        </div>

    
        <div class="cell">
            <div class="card">
                <img src="/images/old-fashioned.jpg">
                <div class="card-section">
                    <p>Placeholder</p>
                </div>
            </div>
        </div>

        <div class="cell">
            <div class="card">
                <img src="/images/old-fashioned.jpg">
                <div class="card-section">
                    <p>Placeholder</p>
                </div>
            </div>
        </div>

        <div class="cell">
            <div class="card">
                <img src="/images/old-fashioned.jpg">
                <div class="card-section">
                    <p>Placeholder</p>
                </div>
            </div>
        </div>

    </div>
</div>