
<div class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/martini.jpg" />
      <div class="image-overlay-content">
        <h2>Martini</h2>
            <p> Vodka</p>
            <p> Vermouth </p>
            <p> Garnish: Olives </P>
      </div>
    </div>
  </div>
</div>
{{!--  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/mimosa.jpg" />
      <div class="image-overlay-content">
        <h2>Mimosa</h2>
            <p> Champagne</p>
            <p> Orange Juice </p>
            <p> Garnish: Strawberry  </P>
          
      </div>
    </div>
  </div>
</div>
{{!--  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/mule.jpg" />
      <div class="image-overlay-content">
        <h2>Moscow Mule</h2>
            <p> Vodka</p>
            <p> Lime Juice </p>
            <p> Ginger Beer </P>
            <p> Garnish: Mint, Lime </P>
    
      </div>
    </div>
  </div>
</div>
 {{!--  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/old-fashioned.jpg" />
      <div class="image-overlay-content">
        <h2>Old fashioned</h2>
            <p> Whiskey (Rye if preferred)</p>
            <p> Bitters </p>
            <p> Simple Syrup </P>
            <p> Garnish: Orange Twist </P>
            
      </div>
    </div>
  </div>
</div>
{{!--  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/mojito.jpg" />
      <div class="image-overlay-content">
        <h2>Mojito</h2>
            <p> Rum</p>
            <p> Club Soda </p>
            <p> Simple Syrup </P>
            <p> Lime </P>
            <p> Mint </P>
      </div>
    </div>
  </div>
</div>
{{!--  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/whiskey-sour.jpg" />
      <div class="image-overlay-content">
        <h2>Whiskey Sour</h2>
       
            <p> Whiskey</p>
            <p> Lemon Juice </p>
            <p> simple syrup </P>
    
      </div>
    </div>
  </div>
</div>

    </div>
</div>



