
<div class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">

{{!-- Bloody Mary --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Bloody Mary.jpg" />
      <div class="image-overlay-content">
        <h2>Blood Mary</h2>
            <p>Vodka</p>
            <p>Tomato Juice </p>
            <p>Tabasco Sauce  </P>
            <p>Worcestershire Sauce</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Cosmopolitan --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Cosmopolitan.jpg" />
      <div class="image-overlay-content">
        <h2>Cosmopolitan</h2>
            <p>Vodka </p>
            <p>Cointreau </p>
            <p>Lime Juice </P>
            <p>Cranberry Juice</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Daiquiri --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Daiquiri.jpg" />
      <div class="image-overlay-content">
        <h2>Daiquiri</h2>
            <p>Rum </p>
            <p>Lime Juice </p>
            <p>Simple Syrup  </P>
            <p>Garnish: Lime Twist</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Dark and Stormy --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Dark and Stormy.jpg" />
      <div class="image-overlay-content">
        <h2>Dark and Stormy</h2>
            <p>Gosling's Black Seal Rum</p>
            <p>Lime Juice </p>
            <p>Ginger Beer  </P>
          
      </div>
    </div>
  </div>
</div>

{{!-- French 75 --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/French 75.jpg" />
      <div class="image-overlay-content">
        <h2>French 75</h2>
            <p>Gin </p>
            <p>Lemon Juice </p>
            <p>Champagne  </P>
            <p>Garnish: Lemon Twist</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Gimlet --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Gimlet.jpg" />
      <div class="image-overlay-content">
        <h2>Gimlet</h2>
            <p>Gin </p>
            <p>Lime Juice </p>
            <p>Simple Syrup  </P>
          
      </div>
    </div>
  </div>
</div>

{{!-- Manhattan --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Manhattan.jpg" />
      <div class="image-overlay-content">
        <h2>Manhattan</h2>
            <p>Rye Whiskey </p>
            <p>Sweet Vermouth </p>
            <p>Bitters  </P>
            <p> Garnish: Cherry</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Margartia --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Margarita.jpg" />
      <div class="image-overlay-content">
        <h2>Margarita</h2>
            <p>Tequila </p>
            <p>Lime Juice </p>
            <p>Orange Liqueur  </P>
            <p>Simple Syrup</p>
            <p>Garnish: Lime Wheel</p>
          
      </div>
    </div>
  </div>
</div>


{{!--Martinez --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Martinez.jpg" />
      <div class="image-overlay-content">
        <h2>Martinez</h2>
            <p>Gin </p>
            <p>Sweet Vermouth </p>
            <p>Bitters  </P>
            <p>Lexardo Maraschino Liqueur</p>
            <p>Garnish: Orange Twist</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Martini  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/martini.jpg" />
      <div class="image-overlay-content">
        <h2>Martini</h2>
            <p> Vodka</p>
            <p> Vermouth </p>
            <p> Garnish: Olives </P>
      </div>
    </div>
  </div>
</div>

{{!-- Mimosa --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/mimosa.jpg" />
      <div class="image-overlay-content">
        <h2>Mimosa</h2>
            <p> Champagne</p>
            <p> Orange Juice </p>
            <p> Garnish: Strawberry  </P>
          
      </div>
    </div>
  </div>
</div>



{{!--  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Mint Julep.jpg" />
      <div class="image-overlay-content">
        <h2>Mint Julep</h2>
            <p> Mint Leaves </p>
            <p>Bourbon </p>
            <p>Simple Syrup  </P>
          
      </div>
    </div>
  </div>
</div>

{{!-- Mojito --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/mojito.jpg" />
      <div class="image-overlay-content">
        <h2>Mojito</h2>
            <p> Rum</p>
            <p> Club Soda </p>
            <p> Simple Syrup </P>
            <p> Lime </P>
            <p> Mint </P>
      </div>
    </div>
  </div>
</div>


{{!-- Moscow Mule --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/mule.jpg" />
      <div class="image-overlay-content">
        <h2>Moscow Mule</h2>
            <p> Vodka</p>
            <p> Lime Juice </p>
            <p> Ginger Beer </P>
            <p> Garnish: Mint, Lime </P>
    
      </div>
    </div>
  </div>
</div>

{{!--  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Negroni.jpg" />
      <div class="image-overlay-content">
        <h2>Negroni</h2>
            <p>Gin </p>
            <p>Campari </p>
            <p>Sweet Vermouth  </P>
          
      </div>
    </div>
  </div>
</div>

 {{!-- Old Fashioned --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/old-fashioned.jpg" />
      <div class="image-overlay-content">
        <h2>Old fashioned</h2>
            <p> Whiskey (Rye if preferred)</p>
            <p> Bitters </p>
            <p> Simple Syrup </P>
            <p> Garnish: Orange Twist </P>
            
      </div>
    </div>
  </div>
</div>

{{!-- Paloma --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Paloma.jpg" />
      <div class="image-overlay-content">
        <h2>Paloma</h2>
            <p>Tequila </p>
            <p>Lime Juice </p>
            <p>Grapefruit Soda</P>
            <p>Garnish: Lime Wheel</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Pimm's Cup --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Pimm's Cup.jpg" />
      <div class="image-overlay-content">
        <h2>Pimm's Cup</h2>
            <p>Pimm's No. 1 </p>
            <p>Lemon Juice </p>
            <p>Ginger Ale  </P>
            <p>Garnish: Mint</p>
            <p>Garnish: Cucumber Slice</p>
            <p>Garnish: Orange Wheel</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Sazerac  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Sazerac.jpg" />
      <div class="image-overlay-content">
        <h2>Sazerac</h2>
            <p> Rye Whiskey </p>
            <p> Cognac </p>
            <p> Bitters </P>
            <p> Water</p>
            <p> Garnish: Lemon Wheel</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Sidecar --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Sidecar.jpg" />
      <div class="image-overlay-content">
        <h2>Sidecar</h2>
            <p> Cognac </p>
            <p> Orange Liqueur </p>
            <p> Lemon Juice </P>
            <p>Garnish: Orange Twist </p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Scarlet Spiritz --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Scarlet spritz.jpg" />
      <div class="image-overlay-content">
        <h2>Scarlet Spiritz</h2>
            <p> </p>
            <p> </p>
            <p>  </P>
          
      </div>
    </div>
  </div>
</div>

{{!--  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Tom Collins.jpg" />
      <div class="image-overlay-content">
        <h2>Tom Collins</h2>
            <p> Gin </p>
            <p> Lemon Juice </p>
            <p> Simple Syrup </P>
            <p> Club Soda</p>
          
      </div>
    </div>
  </div>
</div>

{{!-- Vesper --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/Vesper.jpg" />
      <div class="image-overlay-content">
        <h2>Vesper</h2>
            <p> Gin </p>
            <p> Vodka</p>
            <p> Lillet Blanc Aperitif </P>
            <p> Garnish: Lemon Twist</p>
          
      </div>
    </div>
  </div>
</div>

{{!--  --}}
<div class="cell">
  <div class="card">
    <div class="image-wrapper overlay-fade-in">
      <img src="/images/whiskey-sour.jpg" />
      <div class="image-overlay-content">
        <h2>Whiskey Sour</h2>
       
            <p> Whiskey</p>
            <p> Lemon Juice </p>
            <p> simple syrup </P>
    
      </div>
    </div>
  </div>
</div>

    </div>
</div>



