{{#each drinks as |result|}}
<div class="card" style="padding: 50px; min-width: 500px; align-items: center;">
    <p>{{result.drink_name}}</p>
    <a href="/search?search={{result.drink_name}}"><button class='drinkDetailsButton button'> Full Entry</button></a>
    <button class='deleteFavoriteButton button' data-drinkID="{{result.drink_id}}"> Delete Favorite</button>
</div>
{{else}}
<div class="card" style="padding: 50px; min-width: 500px; align-items: center;">
    <p>You currently have no favorites</p>
</div>
{{/each}}

<script src="/js/favorites.js"></script>