{{#each favoritesList}}
<div class="card" style="padding: 50px; min-width: 500px; align-items: center;">
    <p>{{dataValues.drink_name}}</p>
    <button class='drinkDetailsButton button'> Full Entry</button>
    <button class='deleteFavoriteButton button' data-drinkID="{{dataValues.drink_id}}"> Delete Favorite</button>
</div>
{{else}}
<div class="card" style="padding: 50px; min-width: 500px; align-items: center;">
    <p>You currently have no favorites</p>
</div>
{{/each}}

<script src="/js/favorites.js"></script>