{{!-- <h2>Home Page</h2> --}}

<h1
    style="color:antiquewhite; text-shadow: 3px 3px 3px gray; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    Welcome to your Virtual Bartender!</h1>
{{!-- <h2>Enter a cocktail: <span><input type="text"><button>Enter</button></span></h2> --}}




<div class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
            <div class="card">
                <img src="images/espresso-tini.jpg">
                <div class="card-section">
                    <h4>Our Favorites</h4>
                    <p>A collection of favorites from 'The Best Men'.</p>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <a href="/classics"></a>
                <img src="/images/old-fashioned.jpg">

                <div class="card-section">
                    <h4>Modern Classics</h4>
                    <p>Cockatils that have inspired exciting new ideas</p>
                    <p> TEST </P>
                </div>
            </div>
        </div>

        {{!-- <div class="cell">s
            <div class="card">
                <p>Images work just fine below the content too!</p>
                <img src="assets/img/generic/rectangle-1.jpg">
            </div>

        </div> --}}

        <div class="cell">
            <div class="card">
                <img src="/images/cocktail-new.jpg" alt="cocktail">
                <div class="card-section">

                    <h4>Explore by Ingredients</h4>
                    <p>Have liquor but not sure what you can make? Enter your liquor type here:</p>
                    <form method="GET" action="/byingredient" >
                    <input name="search" placeholder="Enter your liquors here">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>