
<div class="card">
<h2>Shane's Selection</h2>
</div>
<div class="card">
<h2>Austin's Selection</h2>
</div>
<div class="card">
<h2>Jakub's Selection</h2>
</div>
<div class="card">
<h2>Timothy's Selection</h2>
</div>
