<div class="container">
<header>
<h1>Welcome to your Profile!</h1>
</header>


<div class="profile-container">
<div class="card">
<h2>Favorites</h2>
</div>



<div class="card">
<h2>Drinks Submitted</h2>
</div>

<div class="card">
<h2>Comments Posted</h2>
</div>

</div>
</div>