<div class="container">
<header>
<h1>Welcome to your Profile!</h1>
</header>


<div class="profile-container">
<div class="card">
<button type="button" class="submit button secondary large expanded favBtn">My Favorites</button>
</div>



<div class="card">
<button type="button" class="submit button secondary large expanded lbbBtn">Little Black Book</button>
</div>

<div class="card">
<button type="button" class="submit button secondary large expanded commentBtn">Comments Posted</button>
</div>

</div>
</div>