<img src="/images/profile-script.png" alt="">

<div class="cell"  style="max-width: 800px; margin: 0;">
    <div>
        <div class="card">
            <a href="/favorites" type="button" class="submit button secondary large expanded favBtn">My Favorites</a>
        </div>
    </div>
</div>


<script src="/js/profile.js"></script>