<img src="/images/profile-script.png" alt="">

<div class="cell">
    <div class="profile-container">
        <div class="card">
            <a href="/favorites" type="button" class="submit button secondary large expanded favBtn">My Favorites</a>
        </div>
    </div>
</div>

<div class="cell">
    <div class="profile-container">
            <div class="card">

{{!-- I THINK WE NEED A GET ALL WHERE ID = ROUTE HERE FOR REVIEWS POSTED BY CURRENT USER? AGAIN COULD USE THE FORM WITH GET AS THE METHOD --}}

            <button type="button" class="submit button secondary large expanded commentBtn">Comments Posted</button>
        </div>
        </div>
</div>

<script src="/js/profile.js"></script>