:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}


body {
  font-family:'Courier New', Courier, monospace;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* min-height: 500vh; */
  justify-content: flex-start;
  background-color: var(--quatrinary);
  max-width: 100%;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 10px;
  text-align: center;
 background-color: var(--primary);
 max-width: 100%;
  /* color: var(--light); */
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
  justify-content: left;
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

.title-text {
  font-size: 24px;
  font-weight: bolder;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.gallery {
  flex: 1;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-image: url('/images/speakeasy.jpg');
  object-fit: cover;
  max-width: 100%;
  /* background-color: antiquewhite; */
}

.top-bar {
  padding: 5px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  /* margin-left: 16px; */
  padding: 11.2px 16px 11.2px 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 20px 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
  width: auto;
}

.nav-button{
  display: flex;
  flex: 1;
}

.homepage-card{
  display: flex;
  flex-flow: column wrap;
  max-height: 100%; 
  max-width: 100%;
  text-align: center;
  min-width: 150px;
}

.login-container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
  min-width: 100vh;
}

.profile-container {
  
  background-color: var(--tertiary);
  padding: 40px;
  text-align: center;
  color: var(--light);
  align-items: left;
}

.classics-body {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
  min-width: 100vh;
}

/* START FOUNDATION HOVER */
.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 4px;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 12px;
  opacity: 0;
  transition: all 0.2s linear; }

.overlay-fade-in img {
  transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }
.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 0%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }

.overlay-fade-in:hover img {
  transform: scale(1.2); }
.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in{
  opacity: 1;
  }
.overlay-fade-in:hover p {
  transition-delay: 0.1s;
  margin-bottom: 0%; }
.overlay-fade-in:hover  {
  transition-delay: 0.2s linear; }

/*  END FOUNDATION HOVER */


/* Start foundation search bar */

.button-round{
  width: 100px;
  height: 40px;
  background-color: #2f3640;
  border-radius: 40px;
  transition: background-color 1s;
 
}

.button-round:hover{
  background-color: rgba(102, 97, 97, 0.884);
  transition: background-color 0.5s;
}

#liquor-search {
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  color: white;
}

/* end foundation search bar */

